@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Metrophobic&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&family=Solway:wght@300;400;500;700;800&family=Varela+Round&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --light-dark: #3B4144;
    --light-dark-2: #807d7d2c;
    --light-dark-1: #2f3031;
    --dark: #3rgb(26, 27, 27);
    --bg-color: #FFFFFF;
    --btn-line: rgb(215, 34, 40);
}

body {
    /* font-family: "Solway", serif; */
    /* font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto; */
    /* font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 1000; */
    /* font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: inherit;
}

/* *:focus {
    box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
    border-radius: 5px;
} */

/* ========== NAVBAR =========== */
.btn {
    border: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.btn.log_in {
    font-size: 1.5rem;
}

.btn.sign_up {
    background-color: var(--btn-line);
    padding: .8rem 2rem !important;
    font-weight: 600 !important;
    border-radius: 100px;
}

ul li a,
figure a {
    text-decoration: none;
    padding: .3rem;
}


.nav-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.bg-user {
    position: absolute;
    left: 95%;
    transform: translate(-95%, -95%);
    top: 87%;
    display: none;
}

.bg-user::before {
    content: "";
    position: absolute;
    background-color: #000;
    height: 30px;
    width: 30px;
    padding: 1.7rem;
    border-radius: 100px;
    /* top left bottom right  */
    inset: -4px 0 0 -5.5px;
}

.menu-user {
    position: relative;
}


.header_nav {
    font-size: 1.55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
}

.header__nav--links> :not(:last-child) {
    margin-right: 4rem;
}

.header__nav--links li {
    position: relative;
}

.figure.logo {
    position: relative;
}

/* figure.logo span:nth-child(1) {
    font-size: 3rem;
} */

.logo a {
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-items: center;
    margin-left: 25px;
}

.logo .icon {

    width: 40px;
}

.logo .icon-text {
    width: 120px;
}

.header__nav--links li a {
    color: var(--dark);
    font-size: 1.5rem;
}

.header__nav--links a::after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 2.5px;
    position: absolute;
    left: 0px;
    bottom: -15px;
    background-color: var(--btn-line);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 1000ms ease-in-out;
}

a:visited,
a:active,
a:link {
    color: #000;
}

.header__nav--links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 2.5px;
}

@media (max-width: 1080px) {
    .header_nav {
        padding-right: 30px;
    }
}

@media (max-width: 942px) {
    .header__nav--links {
        display: none;
    }

    .log_user {
        display: none;
    }

    .header_nav {
        height: 50px;
    }

    .header_nav--hamburger {
        display: block !important;
        position: absolute;
        left: 4%;
        transform: translate(5%, 12%);
        top: 5%;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .bg-user {
        display: block;
        cursor: pointer;
    }
}

.log_user> :not(:first-child) {
    margin-left: 10px;
    padding: 1rem 1rem;
    color: var(--bg-color);
    font-weight: 500;
}


.LgbsSe-Bz112c {
    width: 26px;
}

.fb {
    font-size: 25px;
}

/* ========== HAMBURGER BUTTON =========== */
.header_nav--hamburger {
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    z-index: 20;
}

.header_nav--hamburger .hamburger--line {
    position: absolute;
    background-color: var(--light-dark-1);
    height: 0.25rem;
    width: 3rem;
}

.header_nav--hamburger> :first-child {
    width: 1.8rem;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}


.header_nav--hamburger>:nth-child(2) {
    width: 2.5rem;
    top: 1rem;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.header_nav--hamburger>:last-child {
    width: 3rem;
    top: 2rem;
    left: 0;
    transition: all 0.35s ease-in-out;
}

.line-1 {
    transform: rotate(405deg) translate(0.5rem, 1.5rem);
    width: 2.5rem !important;
    transform-origin: start;
    margin: -.4rem 0 0 1.9rem;
}

.line-2 {
    visibility: hidden;
}

.line-3 {
    transform: rotate(-405deg) translate(-.2rem, -1rem);
    width: 2.5rem !important;
    margin: -.4rem 0 0 1.9rem;
}

/* ========== HERO SECTION =========== */
.hero-section {
    width: 100%;
    /* padding: 0 1.5rem; */
    height: 100rem;
    position: relative;
}

.hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    object-fit: cover;
    background-size: cover;
}

.hero-section .text {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 50px;
    font-family: "Solway", serif;
}

.hero-section .text span {
    font-size: 6rem;
    line-height: 0;
}

/* ========== HERO SEARCH/INPUT BUTTON =========== */
.search {
    position: relative;
    margin-top: 15px;
}

.search input[type=text] {
    width: 60rem;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    padding: 2rem;
    outline: 0px;
    border: none;
    background-color: none;
}

.search .search-btn {
    position: absolute;
    font-size: 20px;
    inset-inline: 170px;
    top: 25%;
    left: 90%;
    z-index: 1;
}

.search input[type="text"] {
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-family: inherit;
    transition: box-shadow 0.3s ease;
}

.search input[type="text"]:focus {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.4);
}

/* .location:focus+.search-btn.btn-search::after {
    background-color: #007bff;
} */

.search-btn .btn-search {
    position: relative;
    transform: rotate(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 3rem;
    margin-top: 3px;
}

.search-btn .btn-search::after {
    content: "";
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    top: -8px;
    left: -25px;
    padding: 22px;
    display: inline-block;
    border-radius: 100rem;
    z-index: -1;
    margin-top: -1.8px;
}

.btn-up:active {
    margin-top: .5px;
    transition: all 400ms ease-in-out;
}

/* ========== OVERLAY =========== */
.overlay {
    display: block;
    position: fixed;
    overflow: hidden auto;
    inset: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.72);
    z-index: 1840;
    pointer-events: none;
}

.overlay {
    transition: background-color 300ms cubic-bezier(0, 0, 0.14, 1) 0s;
}

/* ========== C.T.A FORM =========== */
.login-form.hidden {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 100%;
    justify-content: center;
    z-index: 5000;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: #fff;
    border-radius: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    padding: 1.5rem;
    padding-top: 2rem;
    pointer-events: all;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-4 {
    margin-bottom: 20px;
}

.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 1.5rem;
}

.divider::before {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    background-color: black;
    left: 25px;
}

.divider::after {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    background-color: black;
    right: 25px;
}

.login-form>:nth-child(1) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.close {
    width: 15px;
    font-weight: 100;
    cursor: pointer;
    margin-right: 22px;
}

.login-form>:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FFFFFF;
}

.login-form .email {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0 1.9rem;
    color: var(--light-dark-1);
}

.login-form .email>:nth-child(1) {
    margin-left: -.5px;
}

.login-form input[type=text] {
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 1.5rem;
    outline: none;
    background-color: none;
    border: 1px solid black;
}

.login-form input[type=text]::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
}

.login-form input[type=text]:focus {
    outline: 2px solid black;
    border-radius: 5px;
}

.login-btn {
    background-color: var(--btn-line);
    padding: 1.2rem;
    border-radius: 10px;
    width: 91%;
    color: #FFFFFF;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.login-auth-btn {
    padding: 1.2rem;
    border-radius: 20px;
    width: 90%;
    border: 1.5px solid black;

    display: flex;
    align-items: center;

    transition: all ease-in 100ms;
}

.login-auth-btn:hover {
    background-color: var(--light-dark-2);
}

.auth-text {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.login-auth-btn .icon {
    /* width: 15px; */
}

.login {
    margin-left: 19px;
}


.left div {
    display: flex;
    align-items: center;
    width: 100%;
}

.left h3 {
    flex-basis: 35%;
    background-color: red;
    align-self: right;
}